In [68]:
#Establish a connection between Python and the Sakila database.
!conda install sqlalchemy -y
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

# Define the database name
database_name = "sakila"

# Create the connection string
connection_string = f"mysql+pymysql://root:{password}@localhost/{database_name}"

# Create the SQLAlchemy engine
engine = create_engine(connection_string)


sql_statement = "SELECT title FROM film LIMIT 5"

with engine.connect() as connection:      
    result = connection.execute(sql_statement)
    for row in result:
        print(row)

 ········

ObjectNotExecutableError: Not an executable object: 'SELECT title FROM film LIMIT 5'

In [89]:
#Function rentals_month

#Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:
#engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
#month: an integer representing the month for which rental data is to be retrieved.
#year: an integer representing the year for which rental data is to be retrieved.
#The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

def rentals_month(engine, month, year):
    # Construct the SQL query
    sql_query = f"""
    SELECT * 
    FROM rental 
    WHERE MONTH(rental_date) = {month} 
    AND YEAR(rental_date) = {year}
    """
    df = pd.read_sql_query(sql_query, engine)
    return df
rental_data_jan_2005 = rentals_month(engine, month=1, year=2005)
print(rental_data_jan_2005.head())

Empty DataFrame
Columns: [rental_id, rental_date, inventory_id, customer_id, return_date, staff_id, last_update]
Index: []

In [93]:

#Function rental_count_month

#Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.
#The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".
#Hint: Consider making use of pandas groupby()


def rental_count_month(rentals_df, month, year):
    # Group by customer_id and count the number of rentals
    rental_counts = rentals_df.groupby('customer_id').size().reset_index(name=f'rentals_{month:02d}_{year}')
    
    return rental_counts

password = getpass.getpass()
database_name = "sakila"
connection_string = f"mysql+pymysql://root:{password}@localhost/{database_name}"
engine = create_engine(connection_string)


rental_data_jan_2005 = rentals_month(engine, month=1, year=2005)
rental_counts_jan_2005 = rental_count_month(rental_data_jan_2005, month=1, year=2005)

print(rental_counts_jan_2005.head())

 ········

Empty DataFrame
Columns: [customer_id, rentals_01_2005]
Index: []

In [ ]:

#Compare_rentals Function

#Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.

def rentals_month(engine, month, year):
    # Construct the SQL query
    sql_query = f"""
    SELECT customer_id, COUNT(*) as rentals_{month:02d}_{year} 
    FROM rental 
    WHERE MONTH(rental_date) = {month} 
    AND YEAR(rental_date) = {year}
    GROUP BY customer_id
    """
    df = pd.read_sql_query(sql_query, engine)
    return df

def compare_rentals(df1, df2):
    combined_df = pd.merge(df1, df2, on='customer_id', how='outer', suffixes=('_1', '_2'))
    combined_df = combined_df.fillna(0)
    combined_df['difference'] = combined_df.iloc[:, 1] - combined_df.iloc[:, 2]
    return combined_df

password = getpass.getpass()
database_name = "sakila"
connection_string = f"mysql+pymysql://root:{password}@localhost/{database_name}"
engine = create_engine(connection_string)


rental_data_jan_2005 = rentals_month(engine, month=1, year=2005)
rental_data_feb_2005 = rentals_month(engine, month=2, year=2005)
result_df = compare_rentals(rental_data_jan_2005, rental_data_feb_2005)

print(result_df)